/*#head{
	background:#232f3e;
    width: 100%; 
    height: 70px;
}
#foot{
	background-color: #253344;
	font-family: roboto;
	font-size: 1em;	
	min-width: 400px;
	min-height:70px;
}
*/
#logo{
    color: white;
    width: 200px;
    height: 10px;
    margin-left: 5%;
	
}

/*#main{
	font-family: roboto;
	font-size: 1em;
	width: 100%;
	min-height: 450px;
}

#navigation{
	float:left;
	min-height:470px;
	width:20%; 
	background:rgb(78,114, 131);
}
#page{
	float:left;
	min-height:470px;
	background:#e6e2dc;
	width:80%;
}

#content{
	margin:10px;
}*/


.nav.child_menu>li>a {
	display: inline-block;
  }
  
  a.subarrow{
	position: absolute!important;
	right: 0px;
  }
  .subarrow .fa{
	font-size: 10px;
	text-align: center;
  }
  
  .x_panel{
	  padding-bottom: 50px;
  }
  .x_panel .btn {
	  position: absolute;
	  bottom: 0px;
	  right: 0px;
  }
  
  .add-page{
	  width: 100%;
	  margin-top: 50px;
	  text-align: center;
  }
  .sudo-btn {
	  width: 120px;
	  height: 120px;
	  margin: 0px auto;
	  padding: 10px 5px;
	  font-size: 40px;
	  border: 1px solid;
	  border-radius: 5px;
	  cursor: pointer;
	  background: #26B99A;
  }
  .sudo-btn:hover{
	background: #169F85;
  }
  .sudo-btn  a{
	  color: white;
  }
  
  .x_content h4{
	  display: inline;
  }
  .x_content ul li {
	  padding-bottom: 5px;
	  margin-bottom: 5px;
	  border-bottom: 1px dashed;
	  height: 25px;
	  box-sizing: content-box;
  }
  
  .x_content ul li ul li {
	  border-bottom: 0px;
  }
  
  .page_toolbox{
	  float: left;
  }